---
openapi: 3.0.3
info:
  version: 0.1.0
  title: Consent Handler API
  license:
    name: MIT
servers:
  - url: https://api-mt1.elhub.no/consent-handler/v0
paths:
  "/authorization-grants/{id}":
    get:
      summary: Retrieve a specific authorization grant.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization grant to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: The authorization grant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationGrantJsonApi'
        "401":
          description: Unauthorized.
        "404":
          description: Authorization grant not found.
  "/consent-requests":
    get:
      summary: Retrieve a list of consent requests.
      parameters:
        - name: userId
          in: query
          description: Elhub user id.
          schema:
            type: string
      responses:
        "200":
          description: A list of consent requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentRequests'
        "400":
          description: Bad request. Invalid user id.
        "401":
          description: Unauthorized.
    post:
      summary: Initiate a new consent request.
      responses:
        "200":
          description: This creates a new consent request and returns the details of the request initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentRequest'
        "401":
          description: Unauthorized.
  "/consent-requests/{id}":
    get:
      summary: Retrieve information about a specific consent request.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the consent request to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: The consent request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentRequest'
        "401":
          description: Unauthorized.
        "404":
          description: Consent request not found.
    delete:
      summary: Cancel a consent request.
      description: Cancel a consent request. This can only be done if the consent request is not yet signed.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the consent request to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: The consent request has been cancelled.
        "401":
          description: Unauthorized.
        "403":
          description: The consent request could not be cancelled.
        "404":
          description: Consent request not found.
  "/signed-documents":
    get:
      summary: Retrieve a list of signed documents.
      responses:
        "200":
          description: A list of signed documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElhubSignedDocuments'
        "401":
          description: Unauthorized.
    post:
      summary: Initiate a new document signature request.
      description: Initiate a new document signature request. This creates a new document for signing and returns the document to be signed + id.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the consent request to retrieve.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElhubSignedDocumentRequest'
      responses:
        "200":
          description: This creates a new signed document request and returns the details of the request initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElhubSignedDocument'
        "400":
          description: Bad request. Invalid request body.
        "401":
          description: Unauthorized.
  "/signed-documents/{id}":
    get:
      summary: Retrieve information about a specific signed document. Retrieve either JSON (metadata) or PDF (document).
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the signed document to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: This returns information about the signed document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElhubSignedDocument'
        "401":
          description: Unauthorized.
        "404":
          description: Signed document not found.
    put:
      summary: Submit the signed document to Elhub.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the consent request to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: The document has registered and accepted.
        "400":
          description: The document was not accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized.
        "404":
          description: Signed document not found.
    delete:
      summary: Delete/cancel a signed document.
      description: Cancel a document to be signed. This can only be done if the document is not yet signed.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the consent request to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: The signed document has been cancelled.
        "401":
          description: Unauthorized.
        "403":
          description: The signed document could not be cancelled.
components:
  securitySchemes:
    idPorten:
      type: openIdConnect
      openIdConnectUrl: https://example.com/.well-known/openid-configuration
    maskinPorten:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://maskinporten.no/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    AuthorizationGrant:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        grantSource:
          type: string
        grantedFor:
          type: string
        grantedBy:
          type: string
        grantedTo:
          type: string
        grantedAt:
          type: string
        validFrom:
          type: datetime
        validTo:
          type: datetime
    AuthorizationGrantJsonApi:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationGrant'
        errors:
          description: This lists the error(s) if a request fails. The errors and data members never exist in the same document.
          type: array
          items:
            $ref: '#/components/schemas/Error'
        links:
          type: object
          properties:
            self:
              type: string
              example: "https://api.elhub.no/consent-handler/v0/authorization-grand/{id}"
        meta:
          type: object
          properties:
            createdAt:
              type: string
              example: "2025-03-11T12:34:56+01:00"
    ConsentRequests:
      type: array
      items:
        $ref: '#/components/schemas/ConsentRequest'
    ConsentRequest:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: datetime
          example: '2023-01-01T18.00.00.000Z'
        lastChanged:
          type: string
          format: datetime
          example: '2023-01-01T18.00.00.000Z'
    Error:
      type: array
      properties:
        code:
          type: string
        detail:
          type: string
    ElhubSignedDocuments:
      type: array
      items:
        $ref: '#/components/schemas/ElhubSignedDocument'
    ElhubSignedDocument:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date
          example: '2023-01-01T18.00.00.000Z'
        lastChanged:
          type: string
          format: date
          example: '2023-01-01T18.00.00.000Z'
    ElhubSignedDocumentRequest:
      type: object
      properties:
        documentType:
          type: string
          example: 'BalanceSupplierChange'
        offeredBy:
          type: string
          description: Organization number or personal number of the entity who is supposed to give consent.
          example: '123456789'
        offeredByName:
          type: string
          description: Name of the person or organization who is supposed to give consent.
          example: 'Ola Norman'
        requestedBy:
          type: string
          description: Organization number or personal number of the entity who is requesting consent.
          example: '123456789'
        requestedByName:
          type: string
          description: Name of the person or organization who is requesting consent.
          example: 'Elhub'
        language:
          type: string
          description: Language code of the document to be signed.
          example: 'nb'
    Error:
      type: object
      properties:
        code:
          type: number
        description:
          type: string
