services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: $DB_USERNAME
      POSTGRES_PASSWORD: $DB_PASSWORD

  vault-transit-mock:
    image: docker.jfrog.elhub.cloud/frzq0sxltynr/auth/vault-transit-secrets-engine-mock:0.1.0-2
    ports:
      - "8200:8200"
    volumes:
      - "${PRIVATE_KEY_PATH}:/key/private.pem:ro"

  ca-authority:
    image: keyfactor/ejbca-ce
    ports:
      - 80:8080
      - 443:8443
    hostname: localhost
    environment:
      TLS_SETUP_ENABLED: simple
      DATABASE_JDBC_URL: jdbc:postgresql://auth-grant-manager-ca-db-1/$CA_DB
      DATABASE_USER: $CA_DB_USERNAME
      DATABASE_PASSWORD: $CA_DB_PASSWORD
    tty: true
    stdin_open: true
    networks:
      - cert-authority
  ca-db:
    image: postgres:15
    networks:
      - cert-authority
    environment:
      POSTGRES_DB: $CA_DB
      POSTGRES_USER: $CA_DB_USERNAME
      POSTGRES_PASSWORD: $CA_DB_PASSWORD

networks:
  cert-authority:
