ktor:
  application:
    modules:
      - no.elhub.auth.ApplicationKt.module
      - no.elhub.auth.features.common.CommonModuleKt.commonModule
      - no.elhub.auth.features.businessprocesses.BusinessProcessesModuleKt.businessProcessesModule
      - no.elhub.auth.features.openapi.ModuleKt.module
      - no.elhub.auth.features.grants.ModuleKt.module
      - no.elhub.auth.features.documents.ModuleKt.module
      - no.elhub.auth.features.requests.ModuleKt.module
      - no.elhub.auth.features.businessprocesses.structuredata.MeteringPointsServiceModuleKt.meteringPointsServiceModule
  deployment:
    port: 8080
  database:
    url: "$JDBC_URL"
    driverClass: "org.postgresql.Driver"
    username: "$APP_USERNAME"
    password: "$APP_PASSWORD"
    hikari:
      maximumPoolSize: 3

pdfGenerator:
  mustacheResourcePath: "templates"

pdfSigner:
  # HashiCorp Vault settings
  vault:
    url: $VAULT_URL
    key: $VAULT_KEY
    tokenPath: $VAULT_TOKEN_PATH
  certificate:
    signing: $PATH_TO_SIGNING_CERTIFICATE
    chain: $PATH_TO_SIGNING_CERTIFICATE_CHAIN
    bankIdIdRoot: $PATH_TO_BANKID_ROOT_CERTIFICATE

pdp:
  baseUrl: ${PDP_BASE_URL}

authPersons:
  baseUri: https://auth-persons-test9.elhub.cloud

structureData:
  meteringPointsService:
    serviceUrl: something
    authentication:
      basic:
        username: something
        password: something
