ktor:
  application:
    modules:
      - no.elhub.auth.ApplicationKt.module
  deployment:
    port: 8080
  database:
    url: "$JDBC_URL"
    driverClass: "org.postgresql.Driver"
    username: "$DB_USERNAME"
    password: "$DB_PASSWORD"
    hikari:
      maximumPoolSize: 3
