ktor:
  application:
    modules:
      - no.elhub.auth.ApplicationKt.module
      - no.elhub.auth.features.common.CommonModuleKt.commonModule
      - no.elhub.auth.features.businessprocesses.datasharing.StromprisServiceModuleKt.stromprisServiceModule
      - no.elhub.auth.features.businessprocesses.structuredata.meteringpoints.MeteringPointsServiceModuleKt.meteringPointsServiceModule
      - no.elhub.auth.features.businessprocesses.structuredata.organisations.OrganisationsServiceModuleKt.organisationsServiceModule
      - no.elhub.auth.features.businessprocesses.BusinessProcessesModuleKt.businessProcessesModule
      - no.elhub.auth.features.openapi.ModuleKt.module
      - no.elhub.auth.features.grants.ModuleKt.module
      - no.elhub.auth.features.documents.ModuleKt.module
      - no.elhub.auth.features.requests.ModuleKt.module
      - no.elhub.auth.features.common.ModuleKt.module
  deployment:
    port: 8080
  database:
    url: '$JDBC_URL'
    driverClass: 'org.postgresql.Driver'
    username: '$APP_USERNAME'
    password: '$APP_PASSWORD'
    hikari:
      maximumPoolSize: 3

pdfGenerator:
  mustacheResourcePath: 'templates'
  useTestPdfNotice: ${USE_PDF_TEST_NOTICE:false}

pdfSigner:
  # HashiCorp Vault settings
  vault:
    url: $VAULT_URL
    key: $VAULT_KEY
    tokenPath: $VAULT_TOKEN_PATH
  certificate:
    signing: $PATH_TO_SIGNING_CERTIFICATE
    chain: $PATH_TO_SIGNING_CERTIFICATE_CHAIN
    bankIdRootDir: $PATH_TO_BANKID_ROOT_CERTIFICATES_DIR

pdp:
  baseUrl: ${PDP_BASE_URL}

authPersons:
  baseUri: ${AUTH_PERSONS_URL}

structureData:
  meteringPointsService:
    serviceUrl: ${STRUCTURE_DATA_METERING_POINTS_SERVICE_URL}
    authentication:
      basic:
        username: ${STRUCTURE_DATA_METERING_POINTS_SERVICE_API_USERNAME}
        password: ${STRUCTURE_DATA_METERING_POINTS_SERVICE_API_PASSWORD}
  organisationsService:
    serviceUrl: ${STRUCTURE_DATA_ORGANISATIONS_SERVICE_URL}
    authentication:
      basic:
        username: ${STRUCTURE_DATA_ORGANISATIONS_SERVICE_API_USERNAME}
        password: ${STRUCTURE_DATA_ORGANISATIONS_SERVICE_API_PASSWORD}

dataSharing:
  stromprisService:
    serviceUrl: ${STROMPRIS_SERVICE_URL}
    idp:
      clientId: ${STROMPRIS_SERVICE_IDP_CLIENT_ID}
      clientSecret: ${STROMPRIS_SERVICE_IDP_CLIENT_SECRET}
  validateContractNameFeature: ${VALIDATE_CONTRACT_NAME_FEATURE}

idp:
  tokenUrl: ${IDP_TOKEN_URL}
