ktor:
  application:
    modules:
      - no.elhub.auth.ApplicationKt.module
  deployment:
    port: 8080
  database:
    url: "$JDBC_URL"
    driverClass: "org.postgresql.Driver"
    username: "$APP_USERNAME"
    password: "$APP_PASSWORD"
    hikari:
      maximumPoolSize: 3

pdfGenerator:
  mustacheResourcePath: $MUSTACHE_RESOURCE_PATH

pdfSigner:
  # HashiCorp Vault settings
  vault:
    url: $VAULT_URL
    key: $VAULT_KEY
    tokenPath: $VAULT_TOKEN_PATH
  certificate:
    signing: $PATH_TO_SIGNING_CERTIFICATE
    chain: $PATH_TO_SIGNING_CERTIFICATE_CHAIN
