ktor:
  application:
    modules:
      - no.elhub.auth.ApplicationKt.module
      - no.elhub.auth.features.openapi.ModuleKt.module
      - no.elhub.auth.features.documents.ModuleKt.module
      - no.elhub.auth.features.grants.ModuleKt.module
      - no.elhub.auth.features.requests.ModuleKt.module
  deployment:
    port: 8080
  database:
    url: "$JDBC_URL"
    driverClass: "org.postgresql.Driver"
    username: "$APP_USERNAME"
    password: "$APP_PASSWORD"
    hikari:
      maximumPoolSize: 3

pdfGenerator:
  mustacheResourcePath: $MUSTACHE_RESOURCE_PATH

pdfSigner:
  # HashiCorp Vault settings
  vault:
    url: $VAULT_URL
    key: $VAULT_KEY
    tokenPath: $VAULT_TOKEN_PATH
  certificate:
    signing: $PATH_TO_SIGNING_CERTIFICATE
    chain: $PATH_TO_SIGNING_CERTIFICATE_CHAIN

ociObjectStorage:
  namespace: $OCI_OS_NAMESPACE
  region: $OCI_OS_REGION
  bucket: $OCI_OS_BUCKET
  linkExpiryHours: $OCI_OS_LINK_EXPIRY_HOURS
  fingerprint: $OCI_OS_FINGERPRINT
  tenant: $OCI_OS_TENANT
  user: $OCI_OS_USER
  privateKeyPath: $OCI_OS_PRIVATE_KEY_PATH
