---
openapi: 3.1.1
info:
  title: Authorization Grant Manager
  version: 0.1.0
  description: >
    The authorization grant manager handles the authorization grants for Elhub's APIs. Note that we are still iterating
    over the authorization-grant APIs.
  x-status: Development
  contact:
    name: team-devxp
  license:
    name: MIT
    url: https://github.com/elhub/auth-grant-manager?tab=MIT-1-ov-file
paths:
  "/authorization-documents":
    get:
      summary: Retrieve a list of authorization document objects.
      responses:
        "200":
          description: A list of authorization document objects.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-document-get-list-response.schema.json"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    post:
      summary: Initiate a new authorization document flow.
      description: Initiate a new authorization document flow. This creates a authorization document for signing.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "/schemas/authorization-document-post-request.schema.json"
      responses:
        "200":
          description: This creates a new authorization document and returns the details of the request initiated (including the link to the actual document).
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-document-post-response.schema.json"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  "/authorization-documents/{id}":
    get:
      summary: Retrieve information about a specific authorization document.
      description: |
        Retrieve information about a specific authorization document. This can be used to check the status as well as other attributes of the document.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization document to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: This returns information about the authorization document.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-document-get-response.schema.json"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    delete:
      summary: Delete/cancel a signed document.
      description: Cancel a document to be signed. This can only be done if the document is not yet signed.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization document to delete.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/MetaResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  "/authorization-documents/{id}.pdf":
    get:
      summary: Retrieve authorization document.
      description: Retrieve the actual authorization document as a PDF file.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization document to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: This returns information about the authorization document.
          content:
            application/pdf:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    patch:
      summary: Submit a signed authorization document.
      description: Submit a signed authorization document. Elhub will validate the document, generate any necessary authorization grants and store the document.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization document to change.
          schema:
            type: string
      responses:
        "200":
          description: The document was registered and accepted.
          content:
            application/json:
              schema:
                $ref: "/schemas/json-api-meta.schema.json"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  "/authorization-grants":
    get:
      summary: Retrieve a list of authorization grants.
      responses:
        "200":
          description: A list of authorization grants.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-grant-get-list-response.schema.json"
        "401":
          description: Unauthorized.
        "500":
          $ref: "#/components/responses/500InternalServerError"
      tags:
        - TODO
  "/authorization-grants/{id}":
    get:
      summary: Retrieve a specific authorization grant.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization grant to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: The authorization grant.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-grant-get-response.schema.json"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
      tags:
        - TODO
  "/authorization-grants/{id}/scopes":
    get:
      summary: Retrieve all of the scopes for the identified authorization grant.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization grant to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: Returns a list of authorization scopes.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-scope-get-list-response.schema.json"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
      tags:
        - TODO
  "/authorization-requests":
    get:
      summary: Retrieve a list of authorization requests.
      responses:
        "200":
          description: A list of authorization requests.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-request-get-list-response.schema.json"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    patch:
      summary: Update an authorization request.
      description: Update an authorization request. This is an internal API for MinSide.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "/schemas/authorization-request-patch-request.schema.json"
      responses:
        "201":
          description: The authorization request was updated.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-request-get-response.schema.json"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    post:
      summary: Initiate a new authorization request flow.
      description: Initiate a new authorization request flow. This creates an authorization request that is associated to a user in MinSide.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "/schemas/authorization-request-post-request.schema.json"
      responses:
        "201":
          description: |
            This creates a new authorization request and returns the details of the request initiated (including the link to the request flow on MinSide).
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-request-post-response.schema.json"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  "/authorization-requests/{id}":
    get:
      summary: Retrieve information about a specific authorization request.
      description: Retrieve information about a specific authorization request. This can be used to check the status.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization request to retrieve.
          schema:
            type: string
      responses:
        "200":
          description: This returns information about the authorization request.
          content:
            application/json:
              schema:
                $ref: "/schemas/authorization-request-get-response.schema.json"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    delete:
      summary: Delete/cancel an authorization request.
      description: Cancel an authorization request. This can only be done if the request is not yet authorized.
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the authorization request to delete.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/MetaResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
components:
  responses:
    400BadRequestError:
      description: Bad request. Invalid request body.
      content:
        application/json:
          schema:
            $ref: "/schemas/json-api-error.schema.json"
    401UnauthorizedError:
      description: Unauthorized.
      content:
        application/json:
          schema:
            $ref: "/schemas/json-api-error.schema.json"
    403ForbiddenError:
      description: Forbidden.
      content:
        application/json:
          schema:
            $ref: "/schemas/json-api-error.schema.json"
    404NotFoundError:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: "/schemas/json-api-error.schema.json"
    500InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: "/schemas/json-api-error.schema.json"
    MetaResponse:
      description: Metadata response for informational purposes.
      content:
        application/json:
          schema:
            $ref: "/schemas/json-api-meta.schema.json"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
