---
openapi: 3.1.1
info:
  title: Access API
  version: 0.1.0
  description: >
    The Authorization Grant Manager provides APIs for creating, managing, and retrieving authorization
    documents, authorization grants, and authorization requests used within Elhub's access control
    ecosystem.

    Note: The authorization-grant APIs are under active development. Schemas and parameters may still
    change.
  x-status: Development
  contact:
    name: team-devxp
  license:
    name: MIT
    url: https://github.com/elhub/auth-grant-manager?tab=MIT-1-ov-file

servers:
  - url: https://api.elhub.no
    description: Production
  - url: https://api-mt1.elhub.no
    description: MT1

tags:
  - name: Authorization Documents
    description: Operations for creating, retrieving, managing, and submitting authorization documents.
  - name: Authorization Grants
    description: Operations for listing and retrieving authorization grants and their scopes.
  - name: Authorization Requests
    description: Operations for creating, retrieving, and managing authorization requests.

security:
  - bearerAuth: []

paths:
  '/access/v0/authorization-documents':
    get:
      tags:
        - Authorization Documents
      summary: List authorization documents
      description: >
        Retrieve a list of authorization document objects available to the calling party.
        The result is constrained by the caller's authorization context.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: page[number]
          in: query
          required: false
          description: Zero-based page number. Defaults to 0.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: page[size]
          in: query
          required: false
          description: Number of items per page. Defaults to 100, maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: A list of authorization document objects.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/documents/authorization-document-collection.schema.json'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    post:
      tags:
        - Authorization Documents
      summary: Create authorization document for signing
      description: >
        Create a new authorization document that will later be signed by the appropriate party.
        The response includes the identifier of the document and links to the document resource
        and its generated PDF file.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: './schemas/documents/authorization-document-submission.schema.json'
      responses:
        '201':
          description: >
            The authorization document was created successfully. The response includes the
            identifier of the new document and links to the resource and its PDF representation.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/documents/authorization-document-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaTypeError'
        '422':
          $ref: '#/components/responses/422UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v1/authorization-documents':
    post:
      tags:
        - Authorization Documents
      summary: '[WIP] Create a v1 authorization document for signing'
      description: >
        Work in progress. This endpoint is currently specified for development and testing only.
        It is not deployed to Production or MT1, is not part of either environment's API contract,
        and may change without backward-compatibility guarantees before release.

        Create an authorization document from a general requested-scope contract. The selected
        document type determines which resource keys, allowed-change keys, values, and party
        identifiers are supported. Scope values are lists and apply as sets; values are not paired
        by their array positions.
      operationId: createV1AuthorizationDocument
      x-status: Work in progress
      x-availability: Not deployed to Production or MT1
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/V1AuthorizationDocumentSubmission'
            examples:
              changeOfEnergySupplierForOrganization:
                summary: Energy supplier change for an organization
                description: >
                  Requests authorization to change energy supplier for an organization's metering
                  points. This document type does not include allowed changes.
                value:
                  data:
                    type: AuthorizationDocument
                    attributes:
                      documentType: ChangeOfEnergySupplierForOrganization
                      requestedScope:
                        appliesTo:
                          meteringPointId:
                            - '707057500000000001'
                            - '707057500000000002'
                      externalReference: contract-123
                    meta:
                      requestedFrom: '999888777'
                      requestedTo: '01019012345'
                      language: nb
              moveInAndChangeOfEnergySupplierForOrganization:
                summary: Move-in and energy supplier change for an organization
                description: >
                  Requests authorization for changes to multiple metering points and multiple
                  valid-from values. The requested-from party is the organization and the
                  requested-to party is its representative.
                value:
                  data:
                    type: AuthorizationDocument
                    attributes:
                      documentType: MoveInAndChangeOfEnergySupplierForOrganization
                      requestedScope:
                        appliesTo:
                          meteringPointId:
                            - '707057500000000001'
                            - '707057500000000002'
                        allowedChanges:
                          validFrom:
                            - '2026-10-01'
                            - '2026-11-01'
                      externalReference: contract-123
                    meta:
                      requestedFrom: '999888777'
                      requestedTo: '01019012345'
                      language: nb
      responses:
        '201':
          description: The authorization document was created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/V1AuthorizationDocumentResource'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaTypeError'
        '422':
          $ref: '#/components/responses/422UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v0/authorization-documents/{id}':
    get:
      tags:
        - Authorization Documents
      summary: Get authorization document by id
      description: >
        Retrieve information about a specific authorization document. This can be used to
        check the document status and other attributes such as involved parties and validity.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization document to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Details of the requested authorization document.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/documents/authorization-document-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v0/authorization-documents/{id}.pdf':
    get:
      tags:
        - Authorization Documents
      summary: Download authorization document PDF
      description: >
        Retrieve the PDF representation of an authorization document. The PDF reflects the
        current state of the document at the time of retrieval.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization document whose PDF should be retrieved.
          schema:
            type: string
      responses:
        '200':
          description: The PDF file representing the authorization document. Error responses are returned as application/vnd.api+json.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '422':
          $ref: '#/components/responses/422UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    put:
      tags:
        - Authorization Documents
      summary: Submit signed authorization document
      description: >
        Submit a signed authorization document as a PDF file. Elhub validates the signature,
        generates any required authorization grants, and stores the document if the validation succeeds.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization document to be submitted.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: >
            The signature was successfully validated and the document was registered and accepted.
            No content is returned in the response body.
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '406':
          $ref: '#/components/responses/406NotAcceptableError'
        '413':
          $ref: '#/components/responses/413ContentTooLargeError'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaTypeError'
        '422':
          $ref: '#/components/responses/422UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v0/authorization-grants':
    get:
      tags:
        - Authorization Grants
      summary: List authorization grants
      description: >
        Retrieve a list of authorization grants available to the caller. The result is constrained
        by the caller's token and GLN context. Results are returned ordered by createdAt DESC
        (newest first) and support offset-based pagination.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: page[number]
          in: query
          required: false
          description: Zero-based page number. Defaults to 0.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: page[size]
          in: query
          required: false
          description: Number of items per page. Defaults to 100, maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: A list of authorization grants.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/grants/authorization-grant-collection.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '406':
          $ref: '#/components/responses/406NotAcceptableError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v0/authorization-grants/{id}':
    get:
      tags:
        - Authorization Grants
      summary: Get authorization grant by id
      description: >
        Retrieve a specific authorization grant by its identifier.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUserOptional'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization grant to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: The requested authorization grant.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/grants/authorization-grant-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '406':
          $ref: '#/components/responses/406NotAcceptableError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    patch:
      tags:
        - Authorization Grants
      summary: Update authorization grant status
      description: >
        Update the status of an authorization grant. This endpoint is intended for internal
        Elhub systems (BRS) and is not available to external integrators.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization grant to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: './schemas/grants/authorization-grant-update.schema.json'
      responses:
        '200':
          description: The authorization grant was successfully updated.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/grants/authorization-grant-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '406':
          $ref: '#/components/responses/406NotAcceptableError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '422':
          $ref: '#/components/responses/422UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v0/authorization-grants/{id}/scopes':
    get:
      tags:
        - Authorization Grants
      summary: List scopes for authorization grant
      description: >
        Retrieve all scopes associated with a specific authorization grant.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization grant whose scopes should be retrieved.
          schema:
            type: string
      responses:
        '200':
          description: A list of authorization scopes associated with the grant.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/grants/authorization-scope-collection.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '406':
          $ref: '#/components/responses/406NotAcceptableError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v0/authorization-requests':
    get:
      tags:
        - Authorization Requests
      summary: List authorization requests
      description: >
        Retrieve a list of authorization requests. The result is constrained by the caller's
        token and, where applicable, GLN context. Results are returned ordered by createdAt DESC
        (newest first) and support offset-based pagination.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: filter[status]
          in: query
          required: false
          description: >
            Filter results by one or more statuses. When omitted, requests of all statuses are returned.
            Multiple statuses can be specified as a comma-separated list (e.g. `filter[status]=Pending,Expired`).
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: './schemas/requests/authorization-request-common.schema.json#/$defs/authorizationRequestStatus'
        - name: page[number]
          in: query
          required: false
          description: Zero-based page number. Defaults to 0.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: page[size]
          in: query
          required: false
          description: Number of items per page. Defaults to 100, maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: A list of authorization requests.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/requests/authorization-request-collection.schema.json'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '406':
          $ref: '#/components/responses/406NotAcceptableError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    post:
      tags:
        - Authorization Requests
      summary: Create authorization request for MinSide
      description: >
        Initiate a new authorization request flow. This creates an authorization request that
        is associated with a user in MinSide and returns the created authorization request,
        including its ID, which can be used to start the Elhub Min Side flow.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: './schemas/requests/authorization-request-submission.schema.json'
      responses:
        '201':
          description: >
            The authorization request was created and the response contains details of the
            request, including the authorization request ID used to start the Elhub Min Side flow
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/requests/authorization-request-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '406':
          $ref: '#/components/responses/406NotAcceptableError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaTypeError'
        '422':
          $ref: '#/components/responses/422UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/access/v0/authorization-requests/{id}':
    get:
      tags:
        - Authorization Requests
      summary: Get authorization request by id
      description: >
        Retrieve information about a specific authorization request. This can be used to
        check the status of the request.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization request to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Details of the requested authorization request.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/requests/authorization-request-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '422':
          $ref: '#/components/responses/422UnprocessableEntityError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    patch:
      tags:
        - Authorization Requests
      summary: Update authorization request
      description: >
        Update an authorization request. This endpoint is intended for internal MinSide usage
        with an end-user token and is not available to external integrators.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - name: Authorization
          in: header
          required: true
          description: End-user bearer token associated with the MinSide user.
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization request to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: './schemas/requests/authorization-request-update.schema.json'
      responses:
        '200':
          description: The authorization request was successfully updated.
          content:
            application/vnd.api+json:
              schema:
                $ref: './schemas/requests/authorization-request-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaTypeError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

components:
  schemas:
    V1AuthorizationDocumentSubmission:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/V1AuthorizationDocumentSubmissionData'

    V1AuthorizationDocumentSubmissionData:
      type: object
      additionalProperties: false
      required:
        - type
        - attributes
        - meta
      properties:
        type:
          type: string
          const: AuthorizationDocument
        attributes:
          $ref: '#/components/schemas/V1AuthorizationDocumentSubmissionAttributes'
        meta:
          $ref: '#/components/schemas/V1AuthorizationDocumentMeta'

    V1AuthorizationDocumentSubmissionAttributes:
      type: object
      additionalProperties: false
      allOf:
        - $ref: '#/components/schemas/V1AuthorizationDocumentScopeProfile'
      required:
        - documentType
        - requestedScope
        - externalReference
      properties:
        documentType:
          type: string
          description: >
            Selects the document-type profile that validates the requested scope and party identifiers.
          enum:
            - ChangeOfEnergySupplierForOrganization
            - MoveInAndChangeOfEnergySupplierForOrganization
        requestedScope:
          $ref: '#/components/schemas/V1RequestedScope'
        externalReference:
          type: string
          minLength: 1
          maxLength: 255
          description: Reference assigned by the requesting party to the underlying contract or process.

    V1RequestedScope:
      type: object
      additionalProperties: false
      required:
        - appliesTo
      properties:
        appliesTo:
          type: object
          additionalProperties: false
          minProperties: 1
          description: >
            Resources to which the authorization applies. For the currently supported document
            types, meteringPointId is required and contains one or more metering point identifiers.
          required:
            - meteringPointId
          properties:
            meteringPointId:
              type: array
              minItems: 1
              uniqueItems: true
              items:
                type: string
                minLength: 1
        allowedChanges:
          type: object
          additionalProperties: false
          minProperties: 1
          description: >
            Changes authorized for the listed resources. This property is required for
            MoveInAndChangeOfEnergySupplierForOrganization and must be omitted for
            ChangeOfEnergySupplierForOrganization.
          required:
            - validFrom
          properties:
            validFrom:
              type: array
              minItems: 1
              uniqueItems: true
              items:
                type: string
                format: date

    V1AuthorizationDocumentScopeProfile:
      allOf:
        - if:
            properties:
              documentType:
                const: ChangeOfEnergySupplierForOrganization
            required:
              - documentType
          then:
            properties:
              requestedScope:
                not:
                  required:
                    - allowedChanges
        - if:
            properties:
              documentType:
                const: MoveInAndChangeOfEnergySupplierForOrganization
            required:
              - documentType
          then:
            properties:
              requestedScope:
                required:
                  - allowedChanges

    V1AuthorizationDocumentMeta:
      type: object
      additionalProperties: false
      required:
        - requestedFrom
        - requestedTo
        - language
      properties:
        requestedFrom:
          type: string
          minLength: 1
          description: >
            External identifier of the party from which authorization is requested. Its identifier
            type and format are defined by the selected document-type profile.
        requestedTo:
          type: string
          minLength: 1
          description: >
            External identifier of the person or party expected to sign the document. Its identifier
            type and format are defined by the selected document-type profile.
        language:
          type: string
          description: Language used for the generated authorization document.
          enum:
            - nb
            - nn
            - en

    V1AuthorizationDocumentResource:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - id
            - type
            - attributes
            - meta
            - links
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              const: AuthorizationDocument
            attributes:
              type: object
              additionalProperties: false
              allOf:
                - $ref: '#/components/schemas/V1AuthorizationDocumentScopeProfile'
              required:
                - documentType
                - requestedScope
                - externalReference
                - status
                - createdAt
                - validTo
              properties:
                documentType:
                  type: string
                  enum:
                    - ChangeOfEnergySupplierForOrganization
                    - MoveInAndChangeOfEnergySupplierForOrganization
                requestedScope:
                  $ref: '#/components/schemas/V1RequestedScope'
                externalReference:
                  type: string
                  minLength: 1
                  maxLength: 255
                status:
                  type: string
                  enum:
                    - Pending
                createdAt:
                  type: string
                  format: date-time
                validTo:
                  type: string
                  format: date-time
            meta:
              $ref: '#/components/schemas/V1AuthorizationDocumentMeta'
            links:
              type: object
              additionalProperties: false
              required:
                - self
                - file
              properties:
                self:
                  type: string
                  format: uri-reference
                  example: /access/v1/authorization-documents/123e4567-e89b-12d3-a456-426614174000
                file:
                  type: string
                  format: uri-reference
                  example: /access/v1/authorization-documents/123e4567-e89b-12d3-a456-426614174000.pdf

  parameters:
    UserAgent:
      name: User-Agent
      in: header
      required: true
      description: >
        String identifying the client software originating the request
        (for example, "my-client/1.0").
      schema:
        type: string

    AuthorizationMaskinporten:
      name: Authorization
      in: header
      required: true
      description: Bearer Maskinporten token identifying the calling organization.
      schema:
        type: string

    AuthorizationMaskinportenOrEndUser:
      name: Authorization
      in: header
      required: true
      description: >
        Bearer token identifying the caller. This can be either a Maskinporten token
        or an end-user token, depending on the endpoint.
      schema:
        type: string

    AuthorizationMaskinportenOrEndUserOptional:
      name: Authorization
      in: header
      required: false
      description: >
        Optional bearer token identifying the caller. This can be either a Maskinporten token
        or an end-user token, depending on the endpoint.
      schema:
        type: string

    SenderGlnRequired:
      name: SenderGln
      in: header
      required: true
      description: GLN of the party issuing the request.
      schema:
        type: string

    SenderGlnOptional:
      name: SenderGln
      in: header
      required: false
      description: GLN of the party issuing the request.
      schema:
        type: string

    OnBehalfOfGlnOptional:
      name: OnBehalfOfGln
      in: header
      required: false
      description: >
        GLN of the organization on whose behalf the sender is acting,
        used in delegated Maskinporten flows.
      schema:
        type: string

  responses:
    400BadRequestError:
      description: >
        Bad request. The request body is invalid or missing required fields.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            badRequest:
              summary: Bad request error example
              value:
                errors:
                  - status: '400'
                    title: 'Bad Request'
                    detail: 'A required field is missing or invalid.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'

    401UnauthorizedError:
      description: >
        Unauthorized. The caller is not authenticated or the provided token is invalid or expired.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            unauthorized:
              summary: Unauthorized error example
              value:
                errors:
                  - status: '401'
                    title: 'Unauthorized'
                    detail: 'Authentication credentials are missing or invalid.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'

    403ForbiddenError:
      description: >
        Forbidden. The caller is authenticated but does not have permission to perform this operation.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            forbidden:
              summary: Forbidden error example
              value:
                errors:
                  - status: '403'
                    title: 'Forbidden'
                    detail: 'A detailed description for getting forbidden'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'

    404NotFoundError:
      description: >
        Not found. The requested resource does not exist or is not accessible to the caller.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            notFound:
              summary: Not found error example
              value:
                errors:
                  - status: '404'
                    title: 'Not Found'
                    detail: 'The requested resource could not be found.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'
    406NotAcceptableError:
      description: >
        Not Acceptable. The server cannot produce a response matching the list of acceptable
        values defined in the request's proactive content negotiation headers.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            notAcceptable:
              summary: Not acceptable error example
              value:
                errors:
                  - status: '406'
                    title: 'Not Acceptable'
                    detail: 'The requested media type is not supported.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'
    413ContentTooLargeError:
      description: >
        Content Too Large. The request body exceeds the maximum allowed size.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            contentTooLarge:
              summary: Content too large error example
              value:
                errors:
                  - status: '413'
                    title: 'Content Too Large'
                    detail: 'Signed PDF upload size is limited to 1 MB.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'
    409ConflictError:
      description: >
        Conflict. The request could not be completed due to a conflict with the current state
        of the resource.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            conflict:
              summary: Conflict error example
              value:
                errors:
                  - status: '409'
                    title: 'Conflict'
                    detail: 'An authorization document already exists for the specified parties and validity period.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'
    422UnprocessableEntityError:
      description: >
        Unprocessable Entity. The request was well-formed but could not be followed due to semantic errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            unprocessableEntity:
              summary: Unprocessable entity error example
              value:
                errors:
                  - status: '422'
                    title: 'Unprocessable Entity'
                    detail: 'The request could not be processed due to semantic errors.'
                meta:
                  createdAt: '2025-12-17T12:51:57+01:00'
            unsupportedDocumentType:
              summary: Unsupported document type
              value:
                errors:
                  - status: '422'
                    title: 'Unsupported document type'
                    detail: 'The authorization document type is not currently supported.'
                meta:
                  createdAt: '2025-12-17T12:51:57+01:00'
            unsupportedRequestType:
              summary: Unsupported request type
              value:
                errors:
                  - status: '422'
                    title: 'Unsupported request type'
                    detail: 'The authorization request type is not currently supported.'
                meta:
                  createdAt: '2025-12-17T12:51:57+01:00'
    415UnsupportedMediaTypeError:
      description: >
        Unsupported Media Type. The request body uses a media type the server or resource does not support.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            unsupportedMediaType:
              summary: Unsupported media type error example
              value:
                errors:
                  - status: '415'
                    title: 'Unsupported Media Type'
                    detail: 'The submitted content type is not supported.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'
    500InternalServerError:
      description: >
        Internal server error. An unexpected error occurred while processing the request.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
          examples:
            internalServerError:
              summary: Internal server error example
              value:
                errors:
                  - status: '500'
                    title: 'Internal Server Error'
                    detail: 'An unexpected error occurred.'
                    meta:
                      createdAt: '2025-12-17T12:51:57+01:00'

    MetaResponse:
      description: >
        Metadata response for informational purposes, typically returned from successful
        cancel operations.
      content:
        application/vnd.api+json:
          schema:
            $ref: './schemas/json-api-meta.schema.json'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
