---
openapi: 3.1.1
info:
  title: Authorization Grant Manager
  version: 0.1.0
  description: >
    The Authorization Grant Manager provides APIs for creating, managing, and retrieving authorization
    documents, authorization grants, and authorization requests used within Elhub's access control
    ecosystem.

    Note: The authorization-grant APIs are under active development. Schemas and parameters may still
    change, Endpoints tagged with "TODO" should be assumed non-functional at the current time.
  x-status: Development
  contact:
    name: team-devxp
  license:
    name: MIT
    url: https://github.com/elhub/auth-grant-manager?tab=MIT-1-ov-file

servers:
  - url: https://api.elhub.no/access/v0
    description: Production
  - url: https://api-mt1.elhub.no/access/v0
    description: MT1

tags:
  - name: Authorization Documents
    description: Operations for creating, retrieving, managing, and submitting authorization documents.
  - name: Authorization Grants
    description: Operations for listing and retrieving authorization grants and their scopes.
  - name: Authorization Requests
    description: Operations for creating, retrieving, and managing authorization requests.
  - name: Elhub Internal
    description: Internal Elhub APIs that are not accessible for external integrators.
  - name: TODO
    description: Endpoints under active development and not yet enabled in production.

security:
  - bearerAuth: []

paths:
  '/authorization-documents':
    get:
      tags:
        - Authorization Documents
      summary: List authorization documents
      description: >
        Retrieve a list of authorization document objects available to the calling party.
        The result is constrained by the caller's authorization context.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      responses:
        '200':
          description: A list of authorization document objects.
          content:
            application/json:
              schema:
                $ref: './schemas/documents/authorization-document-collection.schema.json'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    post:
      tags:
        - Authorization Documents
      summary: Create authorization document for signing
      description: >
        Create a new authorization document that will later be signed by the appropriate party.
        The response includes the identifier of the document and links to the document resource
        and its generated PDF file.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/documents/authorization-document-submission.schema.json'
      responses:
        '201':
          description: >
            The authorization document was created successfully. The response includes the
            identifier of the new document and links to the resource and its PDF representation.
          content:
            application/json:
              schema:
                $ref: './schemas/documents/authorization-document-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-documents/{id}':
    get:
      tags:
        - Authorization Documents
      summary: Get authorization document by id
      description: >
        Retrieve information about a specific authorization document. This can be used to
        check the document status and other attributes such as involved parties and validity.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization document to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Details of the requested authorization document.
          content:
            application/json:
              schema:
                $ref: './schemas/documents/authorization-document-resource.schema.json'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    delete:
      tags:
        - TODO
      summary: Cancel unsigned authorization document
      description: >
        Cancel an authorization document. This operation is only allowed if the document
        has not yet been signed. Once signed, the document can no longer be cancelled through this API.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization document to cancel.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MetaResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-documents/{id}.pdf':
    get:
      tags:
        - Authorization Documents
      summary: Download authorization document PDF
      description: >
        Retrieve the PDF representation of an authorization document. The PDF reflects the
        current state of the document at the time of retrieval.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization document whose PDF should be retrieved.
          schema:
            type: string
      responses:
        '200':
          description: The PDF file representing the authorization document.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    put:
      tags:
        - Authorization Documents
      summary: Submit signed authorization document
      description: >
        Submit a signed authorization document as a PDF file. Elhub validates the signature,
        generates any required authorization grants, and stores the document if the validation succeeds.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization document to be submitted.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: >
            The signature was successfully validated and the document was registered and accepted.
            No content is returned in the response body.
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-grants':
    get:
      tags:
        - Authorization Grants
      summary: List authorization grants
      description: >
        Retrieve a list of authorization grants available to the caller. The result is constrained
        by the caller's token and GLN context.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      responses:
        '200':
          description: A list of authorization grants.
          content:
            application/json:
              schema:
                $ref: './schemas/grants/authorization-grant-collection.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-grants/{id}':
    get:
      tags:
        - Authorization Grants
      summary: Get authorization grant by id
      description: >
        Retrieve a specific authorization grant by its identifier.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUserOptional'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization grant to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: The requested authorization grant.
          content:
            application/json:
              schema:
                $ref: './schemas/grants/authorization-grant-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    patch:
      tags:
        - Authorization Grants
      summary: Update authorization grant status
      description: >
        Update the status of an authorization grant. This endpoint is intended for internal
        Elhub systems (BRS) and is not available to external integrators.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization grant to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/grants/authorization-grant-update.schema.json'
      responses:
        '200':
          description: The authorization grant was successfully updated.
          content:
            application/json:
              schema:
                $ref: './schemas/grants/authorization-grant-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '409':
          $ref: '#/components/responses/409ConflictError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-grants/{id}/scopes':
    get:
      tags:
        - Authorization Grants
      summary: List scopes for authorization grant
      description: >
        Retrieve all scopes associated with a specific authorization grant.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization grant whose scopes should be retrieved.
          schema:
            type: string
      responses:
        '200':
          description: A list of authorization scopes associated with the grant.
          content:
            application/json:
              schema:
                $ref: './schemas/grants/authorization-scope-collection.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-grants/{id}/scopes/{scopeId}':
    get:
      tags:
        - Authorization Grants
      summary: Retrieve a specific authorization grant scope
      description: >
        Retrieve a specific authorization scope associated with an authorization grant using its scopeId.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization grant whose scopes should be retrieved.
          schema:
            type: string
        - name: scopeId
          in: path
          required: true
          description: Unique identifier of the authorization scope that is being retrieved.
          schema:
            type: string
      responses:
        '200':
          description: An authorization scope associated with the grant.
          content:
            application/json:
              schema:
                $ref: './schemas/grants/authorization-scope-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-requests':
    get:
      tags:
        - Authorization Requests
      summary: List authorization requests
      description: >
        Retrieve a list of authorization requests. The result is constrained by the caller's
        token and, where applicable, GLN context. Results are returned ordered by createdAt DESC (newest first).
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      responses:
        '200':
          description: A list of authorization requests.
          content:
            application/json:
              schema:
                $ref: './schemas/requests/authorization-request-collection.schema.json'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    post:
      tags:
        - Authorization Requests
      summary: Create authorization request for MinSide
      description: >
        Initiate a new authorization request flow. This creates an authorization request that
        is associated with a user in MinSide and returns details including a link to the MinSide flow.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/requests/authorization-request-submission.schema.json'
      responses:
        '201':
          description: >
            The authorization request was created and the response contains details of the
            request, including the URL for the MinSide authorization flow.
          content:
            application/json:
              schema:
                $ref: './schemas/requests/authorization-request-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

  '/authorization-requests/{id}':
    get:
      tags:
        - Authorization Requests
      summary: Get authorization request by id
      description: >
        Retrieve information about a specific authorization request. This can be used to
        check the status of the request.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinportenOrEndUser'
        - $ref: '#/components/parameters/SenderGlnOptional'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization request to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Details of the requested authorization request.
          content:
            application/json:
              schema:
                $ref: './schemas/requests/authorization-request-resource.schema.json'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    patch:
      tags:
        - Authorization Requests
      summary: Update authorization request
      description: >
        Update an authorization request. This endpoint is intended for internal MinSide usage
        with an end-user token and is not available to external integrators.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - name: Authorization
          in: header
          required: true
          description: End-user bearer token associated with the MinSide user.
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization request to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/requests/authorization-request-update.schema.json'
      responses:
        '200':
          description: The authorization request was successfully updated.
          content:
            application/json:
              schema:
                $ref: './schemas/requests/authorization-request-resource.schema.json'
        '400':
          $ref: '#/components/responses/400BadRequestError'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '409':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'
    delete:
      tags:
        - TODO
      summary: Cancel authorization request
      description: >
        Cancel an authorization request. This operation is only allowed if the request has
        not yet been authorized.
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/AuthorizationMaskinporten'
        - $ref: '#/components/parameters/SenderGlnRequired'
        - $ref: '#/components/parameters/OnBehalfOfGlnOptional'
        - name: id
          in: path
          required: true
          description: Unique identifier of the authorization request to cancel.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MetaResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedError'
        '403':
          $ref: '#/components/responses/403ForbiddenError'
        '404':
          $ref: '#/components/responses/404NotFoundError'
        '500':
          $ref: '#/components/responses/500InternalServerError'

components:
  parameters:
    UserAgent:
      name: User-Agent
      in: header
      required: true
      description: >
        String identifying the client software originating the request
        (for example, "my-client/1.0").
      schema:
        type: string

    AuthorizationMaskinporten:
      name: Authorization
      in: header
      required: true
      description: Bearer Maskinporten token identifying the calling organization.
      schema:
        type: string

    AuthorizationMaskinportenOrEndUser:
      name: Authorization
      in: header
      required: true
      description: >
        Bearer token identifying the caller. This can be either a Maskinporten token
        or an end-user token, depending on the endpoint.
      schema:
        type: string

    AuthorizationMaskinportenOrEndUserOptional:
      name: Authorization
      in: header
      required: false
      description: >
        Optional bearer token identifying the caller. This can be either a Maskinporten token
        or an end-user token, depending on the endpoint.
      schema:
        type: string

    SenderGlnRequired:
      name: SenderGln
      in: header
      required: true
      description: GLN of the party issuing the request.
      schema:
        type: string

    SenderGlnOptional:
      name: SenderGln
      in: header
      required: false
      description: GLN of the party issuing the request.
      schema:
        type: string

    OnBehalfOfGlnOptional:
      name: OnBehalfOfGln
      in: header
      required: false
      description: >
        GLN of the organization on whose behalf the sender is acting,
        used in delegated Maskinporten flows.
      schema:
        type: string

  responses:
    400BadRequestError:
      description: >
        Bad request. The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
    401UnauthorizedError:
      description: >
        Unauthorized. The caller is not authenticated or the provided token is invalid or expired.
      content:
        application/json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
    403ForbiddenError:
      description: >
        Forbidden. The caller is authenticated but does not have permission to perform this operation.
      content:
        application/json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
    404NotFoundError:
      description: >
        Not found. The requested resource does not exist or is not accessible to the caller.
      content:
        application/json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
    409ConflictError:
      description: >
        Conflict. The request could not be completed due to a conflict with the current state of the resource.
      content:
        application/json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
    500InternalServerError:
      description: >
        Internal server error. An unexpected error occurred while processing the request.
      content:
        application/json:
          schema:
            $ref: './schemas/json-api-error.schema.json'
    MetaResponse:
      description: >
        Metadata response for informational purposes, typically returned from successful
        cancel operations.
      content:
        application/json:
          schema:
            $ref: './schemas/json-api-meta.schema.json'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
