services:
  db:
    image: postgres:11
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB:    postgres
      POSTGRES_USER:  postgres
      # POSTGRES_PASSWORD: Set in environment or .env file
