<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <title>Avtalebekreftelse - Leverandørskifte</title>
    <style>
        @page {
            max-width: 600px;
        }
        body {
            font: 1rem/1.5 Roboto, sans-serif;
            color: rgba(42, 43, 45, 1);
            background: rgba(255, 255, 255, 1);
            margin: 20px auto;
            padding: 20px;
        }

        .logo-image {
            display: block;
            width: 84px;
            height: 32px;
            margin: 0 0 24px auto;
        }

        .meta-row {
            margin: 0 0 6px;
            white-space: nowrap;
        }

        .meta-label {
            font-weight: 700;
            color: #2a2a2a;
        }

        .title {
            color: rgba(56, 96, 67);
            font-size: 20px;
            margin: 60px 0 12px;
        }

p,
ul {
    margin: 0 0 1em;
}

li {
    margin-bottom: 0.5em;
}
    </style>
</head>
<body>
<img src="https://frzq0sxltynr.objectstorage.eu-frankfurt-1.oci.customer-oci.com/n/frzq0sxltynr/b/insight-prod-open-data-osb/o/download/media/elhub-logo-veldig-liten.png"
     class="logo-image"
     alt=""
     role="presentation"
     aria-hidden="true"
/>

<div class="meta">
    <p class="meta-row"><span class="meta-label">Kunde:</span> {{customerName}}</p>
    <p class="meta-row"><span class="meta-label">Adresse:</span> {{meteringPointAddress}}</p>
    <p class="meta-row"><span class="meta-label">Målernummer:</span> {{meteringPointId}}</p>
    <p class="meta-row"><span class="meta-label">MålepunktID:</span> {{meteringPointId}}</p>
    <p class="meta-row"><span class="meta-label">Strømleverandør:</span> {{balanceSupplierName}}</p>
    <p class="meta-row"><span class="meta-label">Strømavtale:</span> {{balanceSupplierContractName}}</p>
</div>

<h1 class="title">Avtalebekreftelse - Leverandørskifte</h1>

<p>Reguleringsmyndigheten for Energi (RME) har pålagt Elhub å kontrollere at det foreligger gyldig strømavtale før innflytting og skifte av strømleverandør (leverandørskifte).</p>

<p>Ved å signere dette dokumentet bekrefter du at du har inngått strømavtalen som det vises til over.</p>

<ul>
    <li>For å få gjennomført leverandørskifte må strømavtalen bekreftes innen 4 uker.</li>
    <li>Om du avslår forespørselen eller ikke bekrefter strømavtalen gjennomføres ikke leverandørskifte.</li>
    <li>Når innflytting og leverandørskifteprosessen er gjennomført kan ikke bekreftelsen benyttes flere ganger av strømleverandøren.</li>
    <li>Dette dokumentet vil være tilgjengelig for strømkunder på Elhub Min Side.</li>
</ul>

<p>Mer informasjon om bekreftelse av strømavtale finnes på Elhub sin hjemmeside.</p>

</body>
</html>
