<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <title>Avtalebekreftelse - Leverandørskifte</title>
    <style>
        @page {
            max-width: 600px;
        }
        body {
            font: 14px/1.5 Roboto, sans-serif;
            color: #222;
            background: #fff;
            margin: 20px auto;
            padding: 20px;
        }

        img {
            display: block;
            width: 83px;
            height: 32px;
            margin: 0 0 24px auto;
        }

        .meta {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .meta .row {
            display: flex;
        }

        .meta dt {
            margin: 0;
            flex-shrink: 0;
            font-weight: 700;
            color: #2a2a2a;
        }

        .meta dd {
            margin: 0;
        }

        .title {
            color: rgba(56, 96, 67);
            font-size: 20px;
            margin: 60px 0 12px;
        }

        p,
        ul {
            margin: 0 0 1em;
        }

        li {
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>
<img src="https://frzq0sxltynr.objectstorage.eu-frankfurt-1.oci.customer-oci.com/n/frzq0sxltynr/b/insight-prod-open-data-osb/o/download/media/elhub-logo-veldig-liten.png"
     alt=""
     role="presentation"
     aria-hidden="true"
/>

<dl class="meta">
    <div class="row">
        <dt>Kunde:</dt><dd>&nbsp;{{customerName}}</dd>
    </div>
    <div class="row">
        <dt>Adresse:</dt><dd>&nbsp;{{meteringPointAddress}}</dd>
    </div>
    <div class="row">
        <dt>Målernummer:</dt><dd>&nbsp;{{meteringPointId}}</dd>
    </div>
    <div class="row">
        <dt>MålepunktID:</dt><dd>&nbsp;{{meteringPointId}}</dd>
    </div>
    <div class="row">
        <dt>Strømleverandør:</dt><dd>&nbsp;{{balanceSupplierName}}</dd>
    </div>
    <div class="row">
        <dt>Strømavtale:</dt><dd>&nbsp;{{balanceSupplierContractName}}</dd>
    </div>
</dl>

<h1 class="title">Avtalebekreftelse - Leverandørskifte</h1>

<p>Reguleringsmyndigheten for Energi (RME) har pålagt Elhub å kontrollere at det foreligger gyldig strømavtale før innflytting og skifte av strømleverandør (leverandørskifte).</p>

<p>Ved å signere dette dokumentet bekrefter du at du har inngått strømavtalen som det vises til over.</p>

<ul>
    <li>For å få gjennomført leverandørskifte må strømavtalen bekreftes innen 4 uker.</li>
    <li>Om du avslår forespørselen eller ikke bekrefter strømavtalen gjennomføres ikke leverandørskifte.</li>
    <li>Når innflytting og leverandørskifteprosessen er gjennomført kan ikke bekreftelsen benyttes flere ganger av strømleverandøren.</li>
    <li>Dette dokumentet vil være tilgjengelig for strømkunder på Elhub Min Side.</li>
</ul>

<p>Mer informasjon om bekreftelse av strømavtale finnes på Elhub sin hjemmeside.</p>

</body>
</html>
