<!DOCTYPE html>
<html lang="{{htmlLang}}">
<head>
    <meta charset="UTF-8"/>
    <title>{{#i18n}}move_in.document_title{{/i18n}}</title>
    <style>
        @page {
            max-width: 600px;
        }
        body {
            font: 1rem/1.5 Roboto, sans-serif;
            color: rgba(42, 43, 45, 1);
            background: rgba(255, 255, 255, 1);
            margin: 20px auto;
            padding: 20px;
        }

        .logo-image {
            display: block;
            width: 84px;
            height: 32px;
            margin: 0 0 24px auto;
        }

        .meta-row {
            margin: 0 0 6px;
            white-space: nowrap;
        }

        .meta-label {
            font-weight: 700;
            color: #2a2a2a;
        }

        .title {
            color: rgb(56, 96, 67);
            font-size: 20px;
            margin: 60px 0 12px;
        }

p,
ul {
    margin: 0 0 1em;
}

li {
    margin-bottom: 0.5em;
}
    </style>
</head>
<body>
<img src="https://frzq0sxltynr.objectstorage.eu-frankfurt-1.oci.customer-oci.com/n/frzq0sxltynr/b/insight-prod-open-data-osb/o/download/media/elhub-logo-veldig-liten.png"
     class="logo-image"
     alt=""
     role="presentation"
     aria-hidden="true"
/>

<div class="meta">
    <p class="meta-row"><span class="meta-label">{{#i18n}}labels.customer{{/i18n}}:</span> {{customerName}}</p>
    <p class="meta-row"><span class="meta-label">{{#i18n}}labels.address{{/i18n}}:</span> {{meteringPointAddress}}</p>
    <p class="meta-row"><span class="meta-label">{{#i18n}}labels.meter_number{{/i18n}}:</span> {{meteringPointId}}</p>
    <p class="meta-row"><span class="meta-label">{{#i18n}}labels.metering_point_id{{/i18n}}:</span> {{meteringPointId}}</p>
    <p class="meta-row"><span class="meta-label">{{#i18n}}labels.supplier{{/i18n}}:</span> {{balanceSupplierName}}</p>
    <p class="meta-row"><span class="meta-label">{{#i18n}}labels.contract{{/i18n}}:</span> {{balanceSupplierContractName}}</p>
    {{#moveInDate}}
        <p class="meta-row"><span class="meta-label">{{#i18n}}labels.move_in_date{{/i18n}}:</span> {{moveInDate}}</p>
    {{/moveInDate}}
</div>

<h1 class="title">{{#i18n}}move_in.document_title{{/i18n}}</h1>

<p>{{#i18n}}move_in.intro_1{{/i18n}}</p>

<p>{{#i18n}}common.intro_signing_confirmation{{/i18n}}</p>

<ul>
    <li>{{#i18n}}move_in.bullet_1{{/i18n}}</li>
    <li>{{#i18n}}move_in.bullet_2{{/i18n}}</li>
    <li>{{#i18n}}move_in.bullet_3{{/i18n}}</li>
    <li>{{#i18n}}common.bullet_elhub_minside{{/i18n}}</li>
</ul>

<p>{{#i18n}}common.more_information{{/i18n}}</p>

</body>
</html>
